.main-container {
    margin-top: 15px;
    
}

.table{
    margin-top: 35px;
    margin-bottom: 20px;
   
}
/* /* .flight-card {
    display: inline-block;
    width: 18rem;
    margin: 1rem;
} */

/* .form{
    display:inline-flex;
    margin-top: 20px;
    margin-left: 125px;
    margin-bottom: 15px;

} */

.form-group {
    display:inline-block;
    margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.spinner-border{
    margin-top: 120px;

}
