<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Rezerwacja lotów</span>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" [ngClass]="{active: router.url === '/flights'}" routerLink="flights">Loty</a>
          </li>
          <li *ngIf="isLoged" class="nav-item">
            <a class="nav-link" [ngClass]="{active: router.url === '/myReservation'}" routerLink="myReservation">Rezerwacje</a>
          </li>
        </ul>
        <form class="d-flex">
            <a *ngIf="!isLoged" class="btn btn-outline-success my-2 my-sm-0" routerLink="login">Logowanie</a>
            &nbsp;
            <a *ngIf="!isLoged" class="btn btn-outline-success my-2 my-sm-0" routerLink="register">Rejestracja</a>
            <button *ngIf="isLoged" (click)="logOut()" class="btn btn-outline-success my-2 my-sm-0">wyloguj</button>
        </form>
      </div>
    </div>
  </nav>