<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<Br>
<h4>Edycja poniższego lotu. </h4>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Lotnisko odlotu</th>
        <th scope="col">Lotnisko przylotu</th>
        <th scope="col">Data odlotu</th>
        <th scope="col">Data przylotu</th>
        <th scope="col">Samolot</th>
        <th scope="col">Status</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{departureAirport}}</td>
        <td>{{arrivalAirport}}</td>
        <td>{{departureDate}}</td>
        <td>{{arrivalDate}}</td>
        <td>{{plane}}</td>
        <td>{{status}}</td>
      </tr>
    </tbody>
  </table>
<div style="padding-top: 50px; margin: auto; width: 40%;">
<div *ngIf="isNotValidPrice" class="alert alert-danger" role="alert">
    Cena musi być większa od zera. 
</div>
<div *ngIf="isNotValidDateArrival" class="alert alert-danger" role="alert">
    Niepoprawny format daty przylotu.
</div>
<div *ngIf="isNotValidDateDeparture" class="alert alert-danger" role="alert">
    Niepoprawny format daty odlotu.
</div>
<div *ngIf="isNotValidHourArrival" class="alert alert-danger" role="alert">
    Niepoprawny format godziny przylotu. 
</div>
<div *ngIf="isNotValidHourDeparture" class="alert alert-danger" role="alert">
    Niepoprawny format godziny odlotu. 
</div>
 <div *ngIf="dataLoaded; else loading" >
</div>
  <form [formGroup]="dataForms" (ngSubmit)="onSubmit()">
    <div class="form-group ">
      <mat-form-field>
        <input matInput [matDatepicker]="datePicker" placeholder="Wybierz date odlotu"  formControlName="dateDeparture">
        <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>
      <br>
      <label for="timeDeparture">Podaj godzinę odlotu:</label>
      <input type="text" class="form-control w-25" id="timeDeparture" name="timeDeparture" placeholder="hh:mm" formControlName="timeDeparture">
    </div>
    <br>
    <div class="form-group ">
        <mat-form-field>
          <input matInput  [matDatepicker]="datePicker1" placeholder="Wybierz date przylotu"  formControlName="dateArrival">
          <mat-datepicker-toggle [for]="datePicker1" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datePicker1></mat-datepicker>
        </mat-form-field>
        <br>
        <label for="timeArrival">Podaj godzinę przylotu:</label>
        <input type="text" class="form-control w-25" id="timeArrival" name="timeArrival" placeholder="hh:mm" formControlName="timeArrival">
    </div>
    <br>
    <div class="form-group">
        <label for="inputPlane">Samolot:</label>
        <select id="inputPlane" class="form-control"  id="inputPlane" formControlName="inputPlane">
          <option *ngFor="let plane of listOfPlane"> {{plane}} </option>
        </select>
        <label >Ilość miejsce: {{seatQuantity}}</label>
    </div>
    <div class="form-group">
        <label for="inputDepartureAirports">Lotnisko odlotu:</label>
        <select id="inputDepartureAirports" class="form-control"  id="inputDepartureAirports" formControlName="inputDepartureAirports">
          <option *ngFor="let airports of listOfDepartureAirports"> {{airports}} </option>
        </select>
    </div>
    <div class="form-group">
        <label for="inputArrivalAirports">Lotnisko przylotu:</label>
        <select id="inputArrivalAirports" class="form-control"  id="inputArrivalAirports" formControlName="inputArrivalAirports">
          <option *ngFor="let airports of listOfArrivalAirports"> {{airports}} </option>
        </select>
    </div>
    <div form-item class="form-group ">
        <label for="price" class="sr-only">Cena: </label>
        <input type="number" class="form-control" id="price" formControlName="price">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Zapisz</button>
</form>
</div>
<ng-template #loading>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</ng-template>
