input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid rgb(122, 23, 128);
}
input[type='checkbox']:checked {
    background: rgb(217, 170, 221);
}

.card-group{
    display: inline-flex;
    flex-direction:inherit ;  
    margin-left: 10px;
    margin-right: 100px;
}

