<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div *ngFor = "let res of reservation">
    <div class="card"> 
        <h5 class="card-header">Rezerwacja lotu</h5>
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-plane" aria-hidden="true"></i> {{res.departureAirports}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <i class="fa fa-arrow-right" aria-hidden="true">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </i>
            <i class="fa fa-plane" aria-hidden="true"></i> {{res.arrivalAirports}} </h5>
             <p class="card-text"> {{res.departureDate}} &nbsp;&nbsp; <i class="fa fa-arrow-right" aria-hidden="true">  &nbsp;&nbsp; </i> {{res.arrivalDate}}</p>
        </div>
    </div>
    <br>
    <div class="card-group">
        <div *ngFor = "let seat of res.seats">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Numer miejsca: {{seat.seatNumber}}</h5>
                <p class="card-text">Cena: {{seat.price}}</p>
                <p class="card-text">Klasa: {{seat.classType}}</p>
                <input *ngIf="seat.isAvailable" type="checkbox" name="seat{{seat.id}}"  [(ngModel)]="seat.checked">
            </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-primary pull-right" type="button"  (click)="sendCheckedSeats()" >Rezerwuj</button>

<!-- seatNumber : number;
classType: string;
price: number;
isAvailable: boolean;
} -->